--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.0+cu121
torchvision==0.18.0+cu121
xformers==0.0.26.post1
accelerate>=0.22.0
diffusers>=0.25.0
matplotlib
scipy
transformers>=4.32.1
omegaconf
pandas
tabulate
h5py
opencv-python
tensorboard
wandb
numpy
tqdm